@tailwind base;
@tailwind components;
@tailwind utilities;

td:not(:last-child),
th:not(:last-child) {
  border-right: 1px solid rgb(241, 241, 241);
  text-align: left;
}

tr:nth-child(even) {
  background-color: rgb(240, 240, 240);
}
