name: Chitragupra Tests

on: [push]

jobs:
  cypress-run:
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      # Install NPM dependencies, cache them correctly
      # and run all Cypress tests
      - name: Cypress run
        uses: cypress-io/github-action@v4
        with:
          build: yarn build
          start: yarn start
        env:
          NEXT_PUBLIC_REMOTE_URL: 'https://chitragupta101.herokuapp.com'
          NEXT_PUBLIC_CAPTCHA_SITE_KEY: '6Ldn0s4eAAAAAD31vMnGJaEZ4pne7uVvh4jbzSPk'
